@charset "UTF-8";
.write-page-header {
  position: fixed;
  top: 0px;
  background: white;
  width: 100%;
  z-index: 50;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 8px;
}

.write-page-header .header-container {
  height: 4rem;
}

.write-page-header .header-container .header {
  width: 1376px;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.label-cover-photo {
  opacity: 0.5;
  margin: 0;
  /* margin-bottom: 2.5rem; */
  flex-direction: row;
  align-items: center;
  display: flex;
  cursor: pointer;
  background: none;
  font-weight: 500;
}

.label-cover-photo i {
  margin-right: 1rem;
}

.label-cover-photo:hover {
  background: rgba(238, 238, 238, 1) !important;
}

.button-add-category {
  opacity: 0.5;
  /* margin-bottom: 2.5rem; */
  align-items: center;
  flex-direction: row;
  display: flex;
  background: none;
}

.button-add-category i {
  margin-right: 1rem;
}

.button-add-category:hover {
  background: rgba(238, 238, 238, 1) !important;
}

.button-transparent {
  border-color: transparent;
  border-radius: 0.5rem;
  border-width: 1px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.625;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.textarea-title {
  height: 82px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: 2px solid transparent;
  background-color: transparent;
  appearance: none;
  outline-offset: 2px;
  margin-bottom: 1.25rem;
  line-height: 30px;
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 30px;
  color: rgba(51, 51, 51, 1);
  resize: none;
  border: none;
}

.textarea-title::placeholder {
  font-size: 2rem;
}

.post-cover {
  width: 100%;
  padding-top: 52.5%;
  border-radius: 0.5rem;
  position: relative;
  background-size: cover;
}

.post-cover-inner {
  right: 0;
  top: 0;
  position: absolute;
  margin: 1.25rem;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.post-cover-inner button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  margin-left: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(255, 255, 255, 1);
  border-width: 1px;
  opacity: 0.75;
  position: relative;
  color: rgba(51, 51, 51, 1);
}

.post-cover-inner button:hover {
  opacity: 100;
}

.option-input-wrapper {
  display: flex;
  width: 300px;
  margin-top: 2rem;
  border-bottom: 2px solid black;
}

.option-input-wrapper + .option-input-wrapper {
  margin-left: 1rem;
}

.option-input {
  border: none;
  outline: none;
  flex: 1 auto;
}

.option-input-wrapper i {
  line-height: 2;
  cursor: pointer;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
