<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.QnaMapper">
	<sql id="criteria">
		<where>
			<foreach item="type" collection="typeArr" separator="OR">
				<choose>
					<when test="type == 'T'.toString()">
						qnaTitle LIKE '%' || #{keyword} || '%'
					</when>
					<when test="type == 'C'.toString()">
						qnaContent LIKE '%' || #{keyword} || '%'
					</when>
					<when test="type == 'W'.toString()">
						nickname LIKE '%' || #{keyword} || '%'
					</when>
				</choose>
			</foreach>
		</where>
	</sql>

	<select id="getListWithPaging"
		resultType="org.zerock.domain.QnaVO">
<![CDATA[	
	SELECT
	 qnaNo, qnaTitle, qnaContent,
	 id, qnaDate, replycnt, nickname, pin
	FROM
	 (
	  SELECT 
	   ROW_NUMBER() OVER (ORDER BY qnaNo DESC) rn,
	   qnaNo, qnaTitle, qnaContent, b.id, qnaDate, replycnt, m.nickname, pin
	  FROM
	   qna_board b join member m on b.id = m.id
]]>
		<include refid="criteria"></include>

<![CDATA[
	 )
	WHERE
	 rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND #{pageNum} * #{amount}
]]>
	</select>

	<select id="getList" resultType="org.zerock.domain.QnaVO">
<![CDATA[
select b.*, m.nickname
from qna_board b, member m
where b.id = m.id order by qnaNo desc]]>
	</select>

	<insert id="insert">
		insert into qna_board (qnaNo, qnatitle, qnacontent,
		id, qnadate, pin)
		values (qna_sequence.nextval, #{qnaTitle}, #{qnaContent},
		#{id}, sysdate, #{pin})
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="qnaNo" order="BEFORE"
			resultType="int">
			select qna_sequence.nextval from dual
		</selectKey>
		insert into qna_board (qnaNo, qnatitle, qnacontent, id, qnadate, pin)
		values (#{qnaNo}, #{qnaTitle}, #{qnaContent}, #{id},
		sysdate, #{pin})
	</insert>

	<select id="read" resultType="org.zerock.domain.QnaVO">
		select b.*, m.nickname
		from qna_board b, member m
		where b.id = m.id
		and b.qnano = #{qnaNo}
	</select>

	<delete id="delete">
		delete from qna_board where qnaNo=#{qnaNo}
	</delete>

	<update id="update">
		update qna_board
		set qnaTitle=#{qnaTitle},
		qnaContent =
		#{qnaContent},
		id = #{id}, pin=#{pin}
		where qnaNo = #{qnaNo}
	</update>


	<select id="getTotalCount" resultType="int">
		SELECT count(*) 
		FROM
		   qna_board b join member m on b.id = m.id 
		<include refid="criteria"></include>
	</select>

	<update id="updateReplyCnt">
		update qna_board set REPLYCNT = REPLYCNT + #{amount}
		WHERE qnano = #{qnaNo}
	</update>

</mapper>